/*
Copyright © 2016 Toru Takahashi. All rights reserved.
*/
/* 
    Created on : 2016/07/05, 22:58:47
    Author     : toru
*/
/* 日付表示の文字の大きさ、余白を変更 */
.date-picker-popup > * > .day-cell {
    -fx-padding: 0 0 0 0;
    -fx-font-size: 0.72em;
}
/* 曜日表示の文字の大きさを変更 */
.date-picker-popup > * > .day-name-cell {
    -fx-font-size: 0.72em;
}
/* 月・年表示の余白を変更 */
.date-picker-popup > .month-year-pane {
    -fx-padding: 0.1em 0.2em 0.1em 0.2em;
}
/* 今日の日付の背景色・文字色を変更 */
.date-picker-popup > * > .today,
.date-picker-popup > * > .today.selected {
    -fx-background-color: -fx-control-inner-background, magenta, -fx-control-inner-background;
    -fx-font-weight: bold;
}
.date-picker-popup > * > .today:hover {
    -fx-background-color: -fx-selection-bar, derive(-fx-selection-bar-non-focused, -20%), -fx-selection-bar;
}
/* 土曜日の文字色の設定 */
.date-picker-popup > * > .day-cell.saturday {
    -fx-text-fill: dodgerblue;
}
/* 日曜日の文字色の設定 */
.date-picker-popup > * > .day-cell.sunday,
.date-picker-popup > * > .day-cell.holiday {
    -fx-text-fill: mediumvioletred;
}
/* 先月および今月の日付の文字色を目立たなく（淡く）する */
.date-picker-popup > * > .next-month,
.date-picker-popup > * > .next-month.sunday,
.date-picker-popup > * > .next-month.saturday,
.date-picker-popup > * > .next-month.holiday,
.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .previous-month.sunday,
.date-picker-popup > * > .previous-month.saturday,
.date-picker-popup > * > .previous-month.holiday {
    -fx-text-fill: derive(-fx-text-base-color, 80%);
}
/* 選択時の色変更を無効に */ 
.date-picker-popup > * > .selected {
    -fx-background: -fx-control-inner-background;
}
