/*
Copyright © 2016 Toru Takahahshi. All rights reserved.
*/
/* 
    Created on : 2016/07/05, 22:58:47
    Author     : toru
*/
/* 日付表示の文字の大きさ、余白を変更 */
.date-picker-popup > * > .day-cell {
    -fx-padding: 0 0 0 0;
    -fx-font-size: 0.72em;
}
/* 曜日表示の文字の大きさを変更 */
.date-picker-popup > * > .day-name-cell {
    -fx-font-size: 0.72em;
}
/* 月・年表示の余白を変更 */
.date-picker-popup > .month-year-pane {
    -fx-padding: 0.1em 0.2em 0.1em 0.2em;
}